spring:
  cloud:
    openfeign:
      micrometer:
        enabled: true
  jackson:
    serialization:
      indent_output: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
management:
  observations:
    http:
      server:
        requests:
          enabled: true
  endpoints:
    health:
      show-details: always
    web:
      exposure:
        include: "*"
  tracing:
    enabled: true
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans


logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} %-5level [traceId=%X{traceId}, spanId=%X{spanId}] %logger{36} - %msg%n"

